*{
    margin: 0;
    box-sizing: border-box;
}
.nike{
    height: auto;
    width: 100%;
    background-color: rgba(5, 1, 1, 0.419);
    display: grid;
    grid-template-columns: 25% 50% 25% ;
    grid-row: 2;
    position: fixed;
   
}
.navtop{
    /* background-color: aquamarine; */
    padding: 40px;
    color: blueviolet;
    
   
    text-align: center;
    grid-column-start: 2;
    grid-column-end: 3;
    display: grid;   
    grid-template-columns: repeat(6,10% 10% 10% 10% 10% 50%);
    gap: 15px;
    margin-left: 1px;
  
 
    

}

a{
    text-decoration: none;
    font-style: bold;
    font-size: 15px;
}
a:hover{
    /* background-color: blueviolet; */
    color: red;
}
.search input[type=text]{
    width:250px;
    height:25px;
    border-radius:25px;
    border: none;
    margin-left: -11px;
}
     
.search{
   
    margin:3px;
}
     
.search button{
    background-color: blueviolet;
    color: #f2f2f2;
    float: right;
    padding: 5px 10px;
    margin-right: 36px;
   
    font-size: 12px;
    border: none;
    cursor: pointer;
} 
 .second{
    height: 100vh;
    display: grid;
    grid-template-columns: 50% 50%;
    background-color: rgb(244, 244, 244);
 }
 .nn{
    margin-left: 15px;
   
 }
 .third{
    background-color: rgb(244, 244, 244);
    height: 100vh;
    display: grid;
    grid-template-columns: 50% 50%;
    
 }
 

/* Container for skill bars */
.container {
  width: 100%; /* Full width */
  background-color: #ddd; /* Grey background */
}

.skills {
  text-align: right; /* Right-align text */
  padding-top: 10px; /* Add top padding */
  padding-bottom: 10px; /* Add bottom padding */
  color: white; /* White text color */
}

.html {width: 100%; background-color: #04AA6D;} /* Green */
.css {width: 80%; background-color: #2196F3;} /* Blue */
.js {width: 50%; background-color: #f44336;} /* Red */
.php {width: 60%; background-color: #808080;} /* Dark Grey */
.java {width: 70%; background-color: #aaaa04;} /* Green */
.c {width: 90%; background-color: #f321bf;} /* Blue */
.phy {width: 50%; background-color: #f44336;} /* Red */
.react {width: 66%; background-color:#2900f3;} /* Dark Grey */


.column1 {
    float: left;
    width: 25%;
    padding: 0 5px;
  }
  
  .row1 {margin: 0 -5px;}
  
  /* Clear floats after the columns */
  .row1:after {
    content: "";
    display: table;
    clear: both;
  }
  
  /* Responsive columns */
  @media screen and (max-width: 600px) {
    .column1 {
      width: 100%;
      display: block;
      margin-bottom: 10px;
    }
  }
  
  /* Style the counter cards */
  .card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    padding: 16px;
    text-align: center;
    background-color: #444;
    color: white;
  }
  
  .fa {font-size:50px;}

  .main {
    max-width: 1000px;
    margin: auto;
  }
  
  h1 {
    font-size: 50px;
    word-break: break-all;
  }
  
  .row1 {
    margin: 8px -16px;
  }
  
  /* Add padding BETWEEN each column (if you want) */
  .row1,
  .row1 > .column1 {
    padding: 8px;
  }
  
  /* Create three equal columns that floats next to each other */
  .column1 {
    float: left;
    width:35%;
    margin-left: 100px;
    display: none; /* Hide columns by default */
  }
  
  /* Clear floats after rows */
  .row1:after {
    content: "";
    display: table;
    clear: both;
  }
  
  /* Content */
  .content {
    background-color: white;
    padding: 10px;
  }
  
  /* The "show" class is added to the filtered elements */
  .show {
    display: block;
  }
  
  /* Style the buttons */
  .btn1 {
    border: none;
    outline: none;
    padding: 12px 16px;
    background-color: white;
    cursor: pointer;
  }
  
  /* Add a grey background color on mouse-over */
  .btn1:hover {
    background-color: #ddd;
  }
  
  /* Add a dark background color to the active button */
  .btn1.active {
    background-color: #666;
     color: white;
  }






  .columns {
    float: left;
    width: 33.3%;
    padding: 8px;
  }
  
  /* Style the list */
  .price {
    list-style-type: none;
    border: 1px solid #eee;
    margin: 0;
    padding: 0;
    -webkit-transition: 0.3s;
    transition: 0.3s;
  }
  
  /* Add shadows on hover */
  .price:hover {
    box-shadow: 0 8px 12px 0 rgba(0,0,0,0.2)
  }
  
  /* Pricing header */
  .price .header {
    background-color: #111;
    color: white;
    font-size: 25px;
  }
  
  /* List items */
  .price li {
    border-bottom: 1px solid #eee;
    padding: 20px;
    text-align: center;
  }
  
  /* Grey list item */
  .price .grey {
    background-color: #eee;
    font-size: 20px;
  }
  
  /* The "Sign Up" button */
  .button {
    background-color: #04AA6D;
    border: none;
    color: white;
    padding: 10px 25px;
    text-align: center;
    text-decoration: none;
    font-size: 18px;
  }
  
  /* Change the width of the three columns to 100%
  (to stack horizontally on small screens) */
  @media only screen and (max-width: 600px) {
    .columns {
      width: 100%;
    }
  }
  .price{
    background-color: #dfdfdf;
    padding: 40px;
  }

  .last{
    display: grid;
    grid-template-columns: 50% 50%;
    height: 600px;
   
    

  }
  input[type=text], select, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
  }
  
  input[type=submit] {
    background-color: #04AA6D;
    color: white;
    padding: 12px 20px;
    border: none;
    cursor: pointer;
  }
  
  input[type=submit]:hover {
    background-color: #45a049;
  }
  
  /* Style the container/contact section */
  .container {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 10px;
  }
  
  /* Create two columns that float next to eachother */
  .column {
    float: left;
    margin-left: 50px;
    width: 50%;
    margin-top: 6px;
    padding: 20px;
  }
  
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  
  /* Responsive layout - when the screen is less than 600px wide, make the two columns stack on top of each other instead of next to each other */
  @media screen and (max-width: 600px) {
    .column, input[type=submit] {
      width: 100%;
      margin-top: 0;
    }
  }



  .container2 {
 
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px 0 30px 0;
  }
  
  /* style inputs and link buttons */
  input,
  .btn {
    width: 100%;
    padding: 12px;
    border: none;
    border-radius: 4px;
    margin: 5px 0;
    opacity: 0.85;
    display: inline-block;
    font-size: 17px;
    line-height: 20px;
    text-decoration: none; /* remove underline from anchors */
  }
  
  input:hover,
  .btn:hover {
    opacity: 1;
  }
  
  /* add appropriate colors to fb, twitter and google buttons */
  .fb {
    background-color: #3B5998;
    color: white;
  }
  
  .twitter {
    background-color: #55ACEE;
    color: white;
  }
  
  .google {
    background-color: #dd4b39;
    color: white;
  }
  
  /* style the submit button */
  input[type=submit] {
    background-color: #04AA6D;
    color: white;
    cursor: pointer;
  }
  
  input[type=submit]:hover {
    background-color: #45a049;
  }
  
  /* Two-column layout */
  .col2 {
    float: left;
    width: 50%;
    margin: auto;
    padding: 0 50px;
    margin-top: 6px;
  }
  
  /* Clear floats after the columns */
  .row2:after {
    content: "";
    display: table;
    clear: both;
  }
  
  /* vertical line */
  .vl {
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    border: 2px solid #ddd;
    height: 175px;
  }
  
  /* text inside the vertical line */
  .inner {
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    background-color: #f1f1f1;
    border: 1px solid #ccc;
    border-radius: 50%;
    padding: 8px 10px;
  }
  
  /* hide some text on medium and large screens */
  .hide-md-lg {
    display: none;
  }
  
  /* bottom container */
  .bottom-container {
    text-align: center;
    background-color: #666;
    border-radius: 0px 0px 4px 4px;
  }
  
  /* Responsive layout - when the screen is less than 650px wide, make the two columns stack on top of each other instead of next to each other */
  @media screen and (max-width: 650px) {
    .col2 {
      width: 100%;
      margin-top: 0;
    }
    /* hide the vertical line */
    .vl {
      display: none;
    }
    /* show the hidden text on small screens */
    .hide-md-lg {
      display: block;
      text-align: center;
    }
  }
  footer{
    display: grid;
    grid-template-columns: 50% 50%;

  }
  .non{
    padding: 10px;
    margin-bottom: 10px;
    color: white;
    cursor: pointer;
  }
  .non:hover{
    color: red;
  }




  #myBtn {
    display: none; /* Hidden by default */
    position: fixed; /* Fixed/sticky position */
    bottom: 20px; /* Place the button at the bottom of the page */
    right: 30px; /* Place the button 30px from the right */
    z-index: 99; /* Make sure it does not overlap */
    border: none; /* Remove borders */
    outline: none; /* Remove outline */
    background-color: red; /* Set a background color */
    color: white; /* Text color */
    cursor: pointer; /* Add a mouse pointer on hover */
    padding: 15px; /* Some padding */
    border-radius: 10px; /* Rounded corners */
    font-size: 18px; /* Increase font size */
  }
  
  #myBtn:hover {
    background-color: #555; /* Add a dark-grey background on hover */
  }